.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(100%/3);
}

.column-one-fourth {
  flex-basis: 25%;
}

.column-two-thirds {
  flex-basis: calc(200%/3);
}

img {
  width: 100%;
}

* {
  font-family: sans-serif;
}
