.custom-button:hover {
  background-color: black;
  color: white;
}

th {
  background-color: black;
  color: white;
}

tbody:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}
